*{
    margin:0;
    padding: 0;
}
body{
    background-color: rgb(22, 22, 22);
}
/*.griditem{

    border: 4px solid black;
}*/



/*//////////////////////////////////////// cabecera ////////////////////////////////////////////////////////////////////////*/
.cabecera{
    background-color: rgb(43, 43, 43); 
    width: 100%;
    height: auto;
    margin:0;
    padding: 0;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    border-bottom: 1px solid rgb(78, 78, 78);
   /* justify-content: space-between;*/
}
/*/////////////////////////////////////buscador//////////////////*/
.buscador{
    /*background-color: rgb(128, 128, 128); */
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    
    
    /*
    display: grid;
    grid-template-columns: 1fr auto;*/
}
a{
    grid-area: 0;
    display:flex
}
#logoF{
    width: 15%;
    border-radius: 50%;
}
.buscador-boton{
    width: 60%;
    height: 75%;
    border-radius: 45px;
    background-color: rgb(128, 128, 128);
    text-align:center;
    color:rgb(255, 255, 255);

}
::placeholder{
    color:white;
}
/*/////////////////////////////////////centro//////////////////*/
.centro{
    /*background-color: rgb(128, 128, 128);*/
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap:5px;     
}
.botones-medio{
    color:rgb(255, 255, 255);  
    background-color: rgb(43, 43, 43);
    border-radius: 20%;
    border-color: rgb(43, 43, 43) ;
    border: 0px;
}
.botones-medio:hover{
    background-color: rgb(143, 140, 140);
    transition-duration: 0.4s;
}
/*/////////////////////////////////////menu//////////////////*/
.menu{
    /*background-color: rgb(128, 128, 128);*/
    display: flex;
    flex-direction: row;
    justify-content: right;   
    gap:10px;
}
.botones-right{
    color:rgb(255, 255, 255);  
    background-color: rgb(43, 43, 43);
    border-radius: 80%;
    border-color: rgb(109, 109, 109) ;
    
}
.botones-right:hover{
    background-color: rgb(143, 140, 140);
    transition-duration: 0.4s;
}


/*//////////////////////////////////////// cuerpo ////////////////////////////////////////////////////////////////////////*/
.cuerpo{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: repeat(5, 1fr);
    background: linear-gradient(0deg, rgb(35, 35, 35), rgb(2, 2, 2));
    justify-content: stretch;
}
/*/////////////////////////////////////portada//////////////////*/
.portada{
    grid-column: 2/5;
}
#foto-portada{
    width: 100%;
}
/*/////////////////////////////////////perfil///////////////////*/
.perfil{
    grid-column: 2/5;
    grid-row: 2;
    display:grid;
    grid-template-columns: auto auto 1fr;
}
/*////////////////Foto de perfil//////////////////*/
#perfil-Foto{
    width: 150px;
    border-radius: 50%;
    background-color: aqua;
}
/*////////////////Perfil info////////////////////*/
.perfil-info{
    display:grid;
    grid-template-rows: auto auto auto;
}
#nombre{
    color: white;
    font-size: 140%;
}
#amigos{
    color:rgb(120, 121, 120);
}
/*////////////////Perfil botones/////////////////*/
.perfil-botones{
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: flex-end;  
}
#boton-historia{
    background-color: rgb(2, 89, 139); /* blue */
    border-radius:15px;
    color: white;
    padding: 1%;
    margin: 3%;
    font-size: 90%;
    width: 30%;
    height: 33%;
    
}
#boton-editar{
    background-color: rgb(88, 88, 88); /* Green */
    border-radius:15px;
    color: white;
    padding: 1%;
    margin: 3%;
    font-size: 90%;
    width: 30%;
    height: 33%;
}
/*/////////////////////////////////////opciones///////////////*/
.opciones{
    border-top: 1px solid rgb(95, 95, 95);
    grid-column: 2/5;
    display: grid;
    grid-template-columns: repeat(9,1fr); 
}
.info-botones{
    color:rgb(255, 255, 255);  
    border-radius: 5px;
    border: 1px solid rgb(35,35,35);
    height: 50px;
    background-color: rgb(35,35,35);
}
.info-botones:hover{
    background-color: rgb(143, 140, 140);
    transition-duration: 0.4s;
}
.Trespuntos{
    color:rgb(255, 255, 255);  
    border-radius: 5px;
    border: 1px solid rgb(35,35,35);
    grid-column-start: 9;
    background-color: rgb(35,35,35);
}
.Trespuntos:hover{
    background-color: rgb(143, 140, 140);
    transition-duration: 0.4s;
}

/*//////////////////////////////////////// info ////////////////////////////////////////////////////////////////////////*/
.info{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
/*/////////////////////////////////////info-left///////////////*/
.info-left{
    grid-column: 2;  
}
/*////////////////detalles////////////////*/

.detalles{
    padding:2%;
    margin: 2%;
    display:grid;
    grid-template-rows: auto auto;
    background-color: rgb(35,35,35);
    border-radius: 15px;

}
.detalles-p{
    margin-left: 3%;
}
.detalles-boton{
    background-color: rgb(88, 88, 88); /* Green */
    border-radius:15px;
    color: white;
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 90%;
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10%;
    text-align: center;
    align-items: center;
}
.detalles-boton:hover{
    background-color: rgb(143, 140, 140);
    transition-duration: 0.4s;
}

/*////////////////fotos//////////////////*/

.fotos{
    padding:2%;
    margin: 2%;
    display:grid;
    grid-template-rows: auto auto;
    background-color: rgb(35,35,35);
    border-radius: 15px;
}
.fotos-top{
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    grid-row: 1;  
    display: grid;
    grid-template-columns: repeat(2, auto);
}
.fotos-botones{
    color:rgb(255, 255, 255);  
    border-radius: 5px;
    border: 1px solid grey;
    width: 100%;
    background-color: rgb(88, 88, 88); /* Green */

   
}
.fotos-botones:hover{
    background-color: rgb(143, 140, 140);
    transition-duration: 0.4s;
}
.fotos-bottom{
    margin: 5%;
}
.fotos-img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}





/*//////////////////////////////////info-right///////////////*/
.info-right{
    grid-column: 3/5;  
}
/*////////////////pensar/////////////////*/
.pensar{
    padding:2%;
    margin: 2%;
    display:grid;
    grid-template-rows: 1fr 1fr;
    background-color: rgb(35,35,35);
    border-radius: 15px;
}
.pensar-top{
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    grid-row: 1;  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.pensar-boton-buscador{
    background-color: rgb(88, 88, 88); /* Green */
    border-radius:40px;
    color: white;
    
    font-size: 90%;
    width: 100%;   
    height: 60%; 

}

#perfil-Foto-pensar{
    width: 17%;
    border-radius: 50%;
}
.pensar-bottom{
    margin-left: 5%;
    margin-right: 5%;
    grid-row:2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.pensar-botones{
    color:rgb(255, 255, 255);  
    border-radius: 5px;
    border: 1px solid rgb(35,35,35);
    height: 70%;
    width: 90%;
    background-color: rgb(35,35,35);

}
.pensar-botones:hover{
    background-color: rgb(143, 140, 140);
    transition-duration: 0.4s;
}
/*////////////////publicaciones/////////////////*/
.publicaciones{
    padding:2%;
    margin: 2%;
    display:grid;
    grid-template-rows: auto auto;
    background-color: rgb(35, 35, 35);
    border-radius: 15px;
}
p{
    color: white;
}
.publicaciones-top{
    padding-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    grid-row: 1;  
    display: grid;
    grid-template-columns: repeat(3, auto);
    /*flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;*/
}
.publicaciones-botones{
    color:rgb(255, 255, 255);  
    border-radius: 5px;
    border: 1px solid rgb(70, 70, 70);
    width: 100%;
    background-color: rgb(70, 70, 70);
   
}
.publicaciones-botones:hover{
    background-color: rgb(143, 140, 140);
    transition-duration: 0.4s;
}
.publicaciones-bottom{
    border-top: 1px solid rgb(255, 255, 255);
    margin-left: 5%;
    margin-right: 5%;
    grid-row:2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.publicaciones-botones-bottom{
    color:rgb(255, 255, 255);  
    border-radius: 5px;
    border: 1px solid rgb(35, 35, 35);
    width: 100%;
    background-color: rgb(35, 35, 35);
   
}
.publicaciones-botones-bottom:hover{
    background-color: rgb(143, 140, 140);
    transition-duration: 0.4s;
}
